ul {
  list-style-type: none;
}

img {
  height: 350px;
  object-fit: cover;
}

/* .App {
  text-align: center;
} */

.dropdown-toggle[aria-expanded='true']:after {
  transform: rotate(180deg);
}

/*for animation*/
.dropdown-toggle:after {
  transition: 0.3s;
}

.carousel {
  height: 350px;
}

.leaflet-container {
  width: 100%;
  height: calc(100vh - 105px);
}
